Muhammad Zulfiqri Firdiansyah 1101220503

In [4]:
import pandas as pd

# Membaca Data dari File Teks
- Membaca file `LB_TA.txt` dengan delimiter tab (`\t`) untuk memisahkan kolom.

In [16]:
f = pd.read_csv("LB_TA.txt", delimiter = r"\s+")
f

       gvkey  datadate fyear    tic          at
0       1004  20090531  2008    AIR    1377.511
1       1004  20100531  2009    AIR    1501.042
2       1004  20110531  2010    AIR    1703.727
3       1004  20120531  2011    AIR    2195.653
4       1004  20130531  2012    AIR    2136.900
...      ...       ...   ...    ...         ...
13371  15743  20111231  2011  DBSDY  263242.972
13372  15743  20121231  2012  DBSDY  289039.627
13373  15743  20121231  2012  DBSDY  289039.627
13374  15743  20131231  2013  DBSDY  318497.861
13375  15743  20131231  2013  DBSDY  318497.861

[13376 rows x 5 columns]

# Menyimpan Data ke CSV
- Menyimpan dataframe `f` ke dalam file CSV yang baru dengan nama `LB_TA.txt`, tanpa menyertakan indeks.

In [20]:
csv_file_path = 'LB_TA.txt' 
f.to_csv(csv_file_path, index=False)

# Menghapus Baris dengan Nilai 'at' yang Hilang
- Menghapus baris yang memiliki nilai kosong (NaN) di kolom `at`, karena nilai tersebut diperlukan untuk perhitungan rata-rata.

In [26]:
f_clean = f.dropna(subset=['at'])

# Menghitung Rata-rata 'at' untuk Setiap 'tic'
- Mengelompokkan data berdasarkan `tic` dan menghitung rata-rata kolom `at` untuk setiap grup `tic`.

In [28]:
f_avg_at = f_clean.groupby('tic', as_index=False)['at'].mean()

# Menyaring 'tic' dengan Satu Catatan
- Menghapus grup `tic` yang hanya memiliki satu catatan, karena kita hanya ingin menghitung rata-rata untuk `tic` dengan lebih dari satu entri.

In [30]:
valid_tics = f_clean.groupby('tic').filter(lambda x: len(x) > 1)

# Menghitung Rata-rata 'at' untuk 'tic' yang Valid
- Menghitung rata-rata kolom `at` setelah hanya memilih `tic` yang valid (yang memiliki lebih dari satu catatan).

In [32]:
f_valid_avg_at = valid_tics.groupby('tic', as_index=False)['at'].mean()

# Mengganti Nama Kolom 'at' Menjadi 'avg_at'
- Mengubah nama kolom `at` menjadi `avg_at` untuk menandakan bahwa nilai tersebut adalah rata-rata.

In [34]:
f_valid_avg_at = f_valid_avg_at.rename(columns={'at': 'avg_at'})

# Menyimpan Hasil ke dalam File CSV
- Menyimpan dataframe yang sudah diproses (`f_valid_avg_at`) ke dalam file CSV yang baru dengan nama `LB_TA.txt`.

In [36]:
output_file_path = 'LB_TA.txt'
f_valid_avg_at.to_csv(output_file_path, index=False)

# Menampilkan Pesan Berhasil
- Menampilkan pesan yang memberi tahu bahwa file telah berhasil disimpan di lokasi yang ditentukan.

In [38]:
print(f"File berhasil disimpan di: {output_file_path}")

File berhasil disimpan di: LB_TA.txt